<launch>
  <arg name="feature_model_yaml" default="big_prototype_5.yaml" />
  <arg name="camera_yaml" default="usb_camera_720p_8.yaml" />

  <node name="pose_simulation" pkg="lolo_perception" type="pose_estimation_simulation_node.py" output="screen" >
    <param name="feature_model_yaml" value="$(arg feature_model_yaml)"/>
    <param name="camera_yaml" value="$(arg camera_yaml)"/>
  </node>

  <node name="pose_average_estimator" pkg="lolo_perception" type="pose_average_estimator_node.py" output="screen" >
    <param name="pose_topic" value="docking_station_noised/pose"/>
    <param name="n_samples" value="100"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="camera_link_1" args="0 0.5 1 -1.571 0 -1.571 map camera1 100" />
  <node pkg="tf" type="static_transform_publisher" name="camera_link_2" args="0 -0.5 1 -1.571 0 -1.571 map camera2 100" />

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find lolo_perception)/rviz/pose_simulation.rviz" />

</launch>
